* {
margin: 0;
padding: 0;
}
.app {
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color:aliceblue;
    /* box-shadow: -0px 0px 1px 1px rgb(218, 213, 213); */
    box-shadow: 0px 5px 6px lightslategray;
}
.body {
    background-color:aliceblue;
}
.logo {
    width: 263px;
    height: 60px;
    margin-top: 20px;
}
.nav-items > ul{
    display: flex;
    font-size: 20px;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    text-decoration: none;
}
.nav-items > ul > li > a{
    text-decoration: none;
    color: black;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.res-container > a{
    text-decoration: none;
    color: black;

}
.res-card {
    width: 250px;
    background-color: white;
    margin: 5px;
    padding: 15px;
    height : 400px;
}
.res-img {
    width : 100%;
    height: 250px;
    border-radius: 10px;

}
.res-card:hover {
    box-shadow: -0px 0px 1px 1px rgb(218, 213, 213);
    cursor: pointer;
    transform: scale(0.99);
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    margin: 20px;
    background-color: #f0f0f0;
    width: 250px;
    height: 280px;
}
.details {
    display: flex;
    justify-content: flex-start;
}
.details > ul {
    display: flex;
    list-style-type: none;
}
.details > ul > li{
    margin: 10px;
}
.filter {
    margin: 10px;
    display: flex;
}
.top-res-btn {
    padding: 10px;
    background-color: lavender;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: blueviolet;
    margin-left: 10px;
}
.search-box {
    padding: 10px;
    border-radius: 10px;
}
.search-btn {
    padding: 10px;
    background-color: lavender;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: blueviolet;
    margin-left: 10px;
}
.error-page {
    width : 100%;
    background-color: aqua;
    text-align: center;
}
.error-img {
    width : 100%;
    height: 600px;
}
.error-msg {
    margin-top: 5px;
}
.res-menu {
    width: 50%;
    /* height: 400px; */
    /* border: 1px solid black; */
    margin: 5% 22%;
    box-shadow: 0px 0px 11px 6px rgb(218, 213, 213);

}
.menu-details {
    padding: 20px;
}